section {
  background-color: #f2f2f2;
  width: 755px;
  height: 2633px;
  margin-left: auto;
  margin-right: auto;
}

.main_course {
  width: auto;
  height: auto;
  position: absolute;
  top: 129.5em;
}

.main_course > div:nth-child(1) > span {
  left: 20px;
  position: absolute;
  font-size: xx-large;
  top: 18px;
  color: #551605;
}

.main_course > div:nth-child(1) > span:after {
  display: block;
  width: 695px;
  content: '';
  position: absolute;
  border-bottom: 2px solid #cadce6;
  top: 1.7em;
  left: 5px;
}

.main_course > div:nth-child(1) {
  width: 755px;
  height: 100px;
  position: absolute;
}

.main_course > div:nth-child(2) {
  margin-top: 75px;
  background-image: url(../img/menu.png);
  position: absolute;
  width: 171px;
  height: 145px;
  background-position: -1px -79px;
  }

.main_course > div:nth-child(3) {
  margin-top: 195px;
  background-image: url(../img/menu.png);
  position: absolute;
  width: 171px;
  height: 145px;
  background-position: -1px -48.4em;
}

.main_course > div:nth-child(4) {
  margin-top: 315px;
  background-image: url(../img/menu.png);
  position: absolute;
  width: 171px;
  height: 145px;
  background-position: -1px -319px;
}

.main_course > div:nth-child(5) {
  margin-top: 435px;
  background-image: url(../img/menu.png);
  position: absolute;
  width: 171px;
  height: 145px;
  background-position: -1px -439px;
}

.Price-5-1 {
  width: 755px;
  height: 120px;
  position: absolute;
}

.Price-5-1 span:first-child {
  font-size: x-large;
  color: #b88f40;
  margin-left: 7.5em;
  display: block;
  margin-top: 1.2em;
}

.Price-5-1 span:first-child::after {
  display: block;
  width: 278px;
  content: '';
  position: absolute;
  border-bottom: 2px dotted black;
  top: 2.1em;
  left: 378px;
}

.Price-5-1 span:nth-child(2) {
  display: block;
  font-size: x-large;
  color: #969505;
  margin-left: 27.5em;
  margin-top: -1.2em;
}

.Price-5-1 span:last-of-type {
  display: block;
  font-size: 17px;
  margin-left: 10.7em;
  margin-top: 0.8em;
  line-height: 1.5;
  color: #79898b;
}

.Price-5-2 {
  width: 755px;
  height: 120px;
  position: absolute;
}

.Price-5-2 span:first-child {
  font-size: x-large;
  color: #b88f40;
  margin-left: 7.5em;
  display: block;
  margin-top: 1.2em;
}

.Price-5-2 span:first-child::after {
  display: block;
  width: 166px;
  content: '';
  position: absolute;
  border-bottom: 2px dotted black;
  top: 2.1em;
  left: 489px;
}

.Price-5-2 span:nth-child(2) {
  display: block;
  font-size: x-large;
  color: #969505;
  margin-left: 27.5em;
  margin-top: -1.2em;
}

.Price-5-2 span:last-of-type {
  display: block;
  font-size: 17px;
  margin-left: 10.7em;
  margin-top: 0.8em;
  line-height: 1.5;
  color: #79898b;
}

.Price-5-3 {
  width: 755px;
  height: 120px;
  position: absolute;
}

.Price-5-3 span:first-child {
  font-size: x-large;
  color: #b88f40;
  margin-left: 7.5em;
  display: block;
  margin-top: 1.2em;
}

.Price-5-3 span:first-child::after {
  display: block;
  width: 142px;
  content: '';
  position: absolute;
  border-bottom: 2px dotted black;
  top: 2.1em;
  left: 503px;
}

.Price-5-3 span:nth-child(2) {
  display: block;
  font-size: x-large;
  color: #969505;
  margin-left: 27em;
  margin-top: -1.2em;
}

.Price-5-3 span:last-of-type {
  display: block;
  font-size: 17px;
  margin-left: 10.7em;
  margin-top: 0.8em;
  line-height: 1.5;
  color: #79898b;
}

.Price-5-4 {
  width: 755px;
  height: 120px;
  position: absolute;
}

.Price-5-4 span:first-child {
  font-size: x-large;
  color: #b88f40;
  margin-left: 7.5em;
  display: block;
  margin-top: 1.2em;
}

.Price-5-4 span:first-child::after {
  display: block;
  width: 342px;
  content: '';
  position: absolute;
  border-bottom: 2px dotted black;
  top: 2.1em;
  left: 313px;
}

.Price-5-4 span:nth-child(2) {
  display: block;
  font-size: x-large;
  color: #969505;
  margin-left: 27.5em;
  margin-top: -1.2em;
}

.Price-5-4 span:last-of-type {
  display: block;
  font-size: 16px;
  margin-left: 11.4em;
  margin-top: 0.8em;
  line-height: 1.5;
  color: #79898b;
}